In [95]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import LabelEncoder
import streamlit as st

In [51]:
df=pd.read_csv("cloudpredictionsystemproject.csv")
df.head(20)

,Date,Location,MinimumTemperature,MaximumTemperature,Rainfall,Evaporation,Sunshine,WindGustDirection,WindGustSpeed,WindDirection9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temperature9am,Temperature3pm,CloudBurst Today,CloudBurstTomorrow
0,01-12-2008,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,02-12-2008,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,03-12-2008,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,04-12-2008,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,05-12-2008,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
5,06-12-2008,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,No
6,07-12-2008,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,No
7,08-12-2008,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,No
8,09-12-2008,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,Yes
9,10-12-2008,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,58.0,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,No
10,11-12-2008,Albury,13.4,30.4,0.0,NaN,NaN,N,30.0,SSE,...,48.0,22.0,1011.8,1008.7,NaN,NaN,20.4,28.8,No,Yes
11,12-12-2008,Albury,15.9,21.7,2.2,NaN,NaN,NNE,31.0,NE,...,89.0,91.0,1010.5,1004.2,8.0,8.0,15.9,17.0,Yes,Yes
12,13-12-2008,Albury,15.9,18.6,15.6,NaN,NaN,W,61.0,NNW,...,76.0,93.0,994.3,993.0,8.0,8.0,17.4,15.8,Yes,Yes
13,14-12-2008,Albury,12.6,21.0,3.6,NaN,NaN,SW,44.0,W,...,65.0,43.0,1001.2,1001.8,NaN,7.0,15.8,19.8,Yes,No
14,15-12-2008,Albury,8.4,24.6,0.0,NaN,NaN,NaN,NaN,S,...,57.0,32.0,1009.7,1008.7,NaN,NaN,15.9,23.5,No,NaN
15,16-12-2008,Albury,9.8,27.7,NaN,NaN,NaN,WNW,50.0,NaN,...,50.0,28.0,1013.4,1010.3,0.0,NaN,17.3,26.2,NaN,No
16,17-12-2008,Albury,14.1,20.9,0.0,NaN,NaN,ENE,22.0,SSW,...,69.0,82.0,1012.2,1010.4,8.0,1.0,17.2,18.1,No,Yes
17,18-12-2008,Albury,13.5,22.9,16.8,NaN,NaN,W,63.0,N,...,80.0,65.0,1005.8,1002.2,8.0,1.0,18.0,21.5,Yes,Yes
18,19-12-2008,Albury,11.2,22.5,10.6,NaN,NaN,SSE,43.0,WSW,...,47.0,32.0,1009.4,1009.7,NaN,2.0,15.5,21.0,Yes,No
19,20-12-2008,Albury,9.8,25.6,0.0,NaN,NaN,SSE,26.0,SE,...,45.0,26.0,1019.2,1017.1,NaN,NaN,15.8,23.2,No,No

In [52]:
df.columns

Index(['Date', 'Location', 'MinimumTemperature', 'MaximumTemperature',
       'Rainfall', 'Evaporation', 'Sunshine', 'WindGustDirection',
       'WindGustSpeed', 'WindDirection9am', 'WindDirection3pm', 'WindSpeed9am',
       'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am',
       'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temperature9am',
       'Temperature3pm', 'CloudBurst Today', 'CloudBurstTomorrow'],
      dtype='object')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                145460 non-null  object
 1   Location            145460 non-null  object
 2   MinimumTemperature  143975 non-null  float64
 3   MaximumTemperature  144199 non-null  float64
 4   Rainfall            142199 non-null  float64
 5   Evaporation         82670 non-null   float64
 6   Sunshine            75625 non-null   float64
 7   WindGustDirection   135134 non-null  object
 8   WindGustSpeed       135197 non-null  float64
 9   WindDirection9am    134894 non-null  object
 10  WindDirection3pm    141232 non-null  object
 11  WindSpeed9am        143693 non-null  float64
 12  WindSpeed3pm        142398 non-null  float64
 13  Humidity9am         142806 non-null  float64
 14  Humidity3pm         140953 non-null  float64
 15  Pressure9am         130395 non-null  float64
 16  Pressure3pm         130432 non-null  float64
 17  Cloud9am            89572 non-null   float64
 18  Cloud3pm            86102 non-null   float64
 19  Temperature9am      143693 non-null  float64
 20  Temperature3pm      141851 non-null  float64
 21  CloudBurst Today    142199 non-null  object
 22  CloudBurstTomorrow  142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [54]:
df.isnull().sum()

Date                      0
Location                  0
MinimumTemperature     1485
MaximumTemperature     1261
Rainfall               3261
Evaporation           62790
Sunshine              69835
WindGustDirection     10326
WindGustSpeed         10263
WindDirection9am      10566
WindDirection3pm       4228
WindSpeed9am           1767
WindSpeed3pm           3062
Humidity9am            2654
Humidity3pm            4507
Pressure9am           15065
Pressure3pm           15028
Cloud9am              55888
Cloud3pm              59358
Temperature9am         1767
Temperature3pm         3609
CloudBurst Today       3261
CloudBurstTomorrow     3267
dtype: int64

In [55]:
df.isnull().sum().sum()

343248

In [56]:
df.describe()

,MinimumTemperature,MaximumTemperature,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temperature9am,Temperature3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [57]:
numerical_columns = df.select_dtypes(include=['float64']).columns

df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].mean())

In [58]:
df.isnull().sum()

Date                      0
Location                  0
MinimumTemperature        0
MaximumTemperature        0
Rainfall                  0
Evaporation               0
Sunshine                  0
WindGustDirection     10326
WindGustSpeed             0
WindDirection9am      10566
WindDirection3pm       4228
WindSpeed9am              0
WindSpeed3pm              0
Humidity9am               0
Humidity3pm               0
Pressure9am               0
Pressure3pm               0
Cloud9am                  0
Cloud3pm                  0
Temperature9am            0
Temperature3pm            0
CloudBurst Today       3261
CloudBurstTomorrow     3267
dtype: int64

In [59]:
string_columns = df.select_dtypes(include=['object']).columns

# Drop rows with null values in string columns
df.dropna(subset=string_columns, inplace=True)

In [60]:
df.isnull().sum()

Date                  0
Location              0
MinimumTemperature    0
MaximumTemperature    0
Rainfall              0
Evaporation           0
Sunshine              0
WindGustDirection     0
WindGustSpeed         0
WindDirection9am      0
WindDirection3pm      0
WindSpeed9am          0
WindSpeed3pm          0
Humidity9am           0
Humidity3pm           0
Pressure9am           0
Pressure3pm           0
Cloud9am              0
Cloud3pm              0
Temperature9am        0
Temperature3pm        0
CloudBurst Today      0
CloudBurstTomorrow    0
dtype: int64

In [61]:
df.dtypes

Date                   object
Location               object
MinimumTemperature    float64
MaximumTemperature    float64
Rainfall              float64
Evaporation           float64
Sunshine              float64
WindGustDirection      object
WindGustSpeed         float64
WindDirection9am       object
WindDirection3pm       object
WindSpeed9am          float64
WindSpeed3pm          float64
Humidity9am           float64
Humidity3pm           float64
Pressure9am           float64
Pressure3pm           float64
Cloud9am              float64
Cloud3pm              float64
Temperature9am        float64
Temperature3pm        float64
CloudBurst Today       object
CloudBurstTomorrow     object
dtype: object

In [62]:
df

,Date,Location,MinimumTemperature,MaximumTemperature,Rainfall,Evaporation,Sunshine,WindGustDirection,WindGustSpeed,WindDirection9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temperature9am,Temperature3pm,CloudBurst Today,CloudBurstTomorrow
0,01-12-2008,Albury,13.4,22.9,0.6,5.468232,7.611178,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,No,No
1,02-12-2008,Albury,7.4,25.1,0.0,5.468232,7.611178,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,No,No
2,03-12-2008,Albury,12.9,25.7,0.0,5.468232,7.611178,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,No,No
3,04-12-2008,Albury,9.2,28.0,0.0,5.468232,7.611178,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,No,No
4,05-12-2008,Albury,17.5,32.3,1.0,5.468232,7.611178,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,20-06-2017,Uluru,3.5,21.8,0.0,5.468232,7.611178,E,31.0,ESE,...,59.0,27.0,1024.7,1021.2,4.447461,4.50993,9.4,20.9,No,No
145455,21-06-2017,Uluru,2.8,23.4,0.0,5.468232,7.611178,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,4.447461,4.50993,10.1,22.4,No,No
145456,22-06-2017,Uluru,3.6,25.3,0.0,5.468232,7.611178,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,4.447461,4.50993,10.9,24.5,No,No
145457,23-06-2017,Uluru,5.4,26.9,0.0,5.468232,7.611178,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,4.447461,4.50993,12.5,26.1,No,No
145458,24-06-2017,Uluru,7.8,27.0,0.0,5.468232,7.611178,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.000000,2.00000,15.1,26.0,No,No

In [63]:
# Find columns with float data type
float_columns = df.select_dtypes(include=['float64']).columns

# Iterate through each float column and replace zero values with the column mean
for col in float_columns:
    if df[col].dtype == 'float64':
        # Calculate column mean excluding zero values
        col_mean = df[col][df[col] != 0].mean()
        # Replace zero values with the column mean
        df[col] = df[col].replace(0, col_mean)

# Now zero values in the float columns are replaced with their respective column means

In [64]:
string_columns = df.select_dtypes(include=['object']).columns

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Iterate through each string column and convert its values to integers
for col in string_columns:
    df[col] = label_encoder.fit_transform(df[col].astype(str))

In [65]:
df

,Date,Location,MinimumTemperature,MaximumTemperature,Rainfall,Evaporation,Sunshine,WindGustDirection,WindGustSpeed,WindDirection9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temperature9am,Temperature3pm,CloudBurst Today,CloudBurstTomorrow
0,104,1,13.4,22.9,0.600000,5.468232,7.611178,13,44.0,13,...,71.0,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,0,0
1,217,1,7.4,25.1,6.655487,5.468232,7.611178,14,44.0,6,...,44.0,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,0,0
2,330,1,12.9,25.7,6.655487,5.468232,7.611178,15,46.0,13,...,38.0,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,0,0
3,443,1,9.2,28.0,6.655487,5.468232,7.611178,4,24.0,9,...,45.0,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,0,0
4,556,1,17.5,32.3,1.000000,5.468232,7.611178,13,41.0,1,...,82.0,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,2195,39,3.5,21.8,6.655487,5.468232,7.611178,0,31.0,2,...,59.0,27.0,1024.7,1021.2,4.447461,4.50993,9.4,20.9,0,0
145455,2308,39,2.8,23.4,6.655487,5.468232,7.611178,0,31.0,9,...,51.0,24.0,1024.6,1020.3,4.447461,4.50993,10.1,22.4,0,0
145456,2420,39,3.6,25.3,6.655487,5.468232,7.611178,6,22.0,9,...,56.0,21.0,1023.5,1019.1,4.447461,4.50993,10.9,24.5,0,0
145457,2532,39,5.4,26.9,6.655487,5.468232,7.611178,3,37.0,9,...,53.0,24.0,1021.0,1016.8,4.447461,4.50993,12.5,26.1,0,0
145458,2645,39,7.8,27.0,6.655487,5.468232,7.611178,9,28.0,10,...,51.0,24.0,1019.4,1016.5,3.000000,2.00000,15.1,26.0,0,0

In [113]:
df.drop(columns=['Date', 'Location'], axis=1, inplace=True)

KeyError: "['Date', 'Location'] not found in axis"

In [110]:
X= df.drop('CloudBurstTomorrow',axis=1)

X.head(20)

,MinimumTemperature,MaximumTemperature,Rainfall,Evaporation,Sunshine,WindGustDirection,WindGustSpeed,WindDirection9am,WindDirection3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temperature9am,Temperature3pm,CloudBurst Today
0,13.4,22.9,0.600000,5.468232,7.611178,13,44.0,13,14,20.0,24.0,71.0,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,0
1,7.4,25.1,6.655487,5.468232,7.611178,14,44.0,6,15,4.0,22.0,44.0,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,0
2,12.9,25.7,6.655487,5.468232,7.611178,15,46.0,13,15,19.0,26.0,38.0,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,0
3,9.2,28.0,6.655487,5.468232,7.611178,4,24.0,9,0,11.0,9.0,45.0,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,0
4,17.5,32.3,1.000000,5.468232,7.611178,13,41.0,1,7,7.0,20.0,82.0,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,0
5,14.6,29.7,0.200000,5.468232,7.611178,14,56.0,13,13,19.0,24.0,55.0,23.0,1009.2,1005.4,4.447461,4.50993,20.6,28.9,0
6,14.3,25.0,6.655487,5.468232,7.611178,13,50.0,12,13,20.0,24.0,49.0,19.0,1009.6,1008.2,1.000000,4.50993,18.1,24.6,0
7,7.7,26.7,6.655487,5.468232,7.611178,13,35.0,10,13,6.0,17.0,48.0,19.0,1013.4,1010.1,4.447461,4.50993,16.3,25.5,0
8,9.7,31.9,6.655487,5.468232,7.611178,6,80.0,9,7,7.0,28.0,42.0,9.0,1008.9,1003.6,4.447461,4.50993,18.3,30.2,0
9,13.1,30.1,1.400000,5.468232,7.611178,13,28.0,8,10,15.0,11.0,58.0,27.0,1007.0,1005.7,4.447461,4.50993,20.1,28.2,1
10,13.4,30.4,6.655487,5.468232,7.611178,3,30.0,10,2,17.0,6.0,48.0,22.0,1011.8,1008.7,4.447461,4.50993,20.4,28.8,0
11,15.9,21.7,2.200000,5.468232,7.611178,5,31.0,4,1,15.0,13.0,89.0,91.0,1010.5,1004.2,8.000000,8.00000,15.9,17.0,1
12,15.9,18.6,15.600000,5.468232,7.611178,13,61.0,6,6,28.0,28.0,76.0,93.0,994.3,993.0,8.000000,8.00000,17.4,15.8,1
13,12.6,21.0,3.600000,5.468232,7.611178,12,44.0,13,11,24.0,20.0,65.0,43.0,1001.2,1001.8,4.447461,7.00000,15.8,19.8,1
16,14.1,20.9,6.655487,5.468232,7.611178,1,22.0,11,0,11.0,9.0,69.0,82.0,1012.2,1010.4,8.000000,1.00000,17.2,18.1,0
17,13.5,22.9,16.800000,5.468232,7.611178,13,63.0,3,14,6.0,20.0,80.0,65.0,1005.8,1002.2,8.000000,1.00000,18.0,21.5,1
18,11.2,22.5,10.600000,5.468232,7.611178,10,43.0,15,12,24.0,17.0,47.0,32.0,1009.4,1009.7,4.447461,2.00000,15.5,21.0,1
19,9.8,25.6,6.655487,5.468232,7.611178,10,26.0,9,6,17.0,6.0,45.0,26.0,1019.2,1017.1,4.447461,4.50993,15.8,23.2,0
20,11.5,29.3,6.655487,5.468232,7.611178,8,24.0,9,9,9.0,9.0,56.0,28.0,1019.3,1014.8,4.447461,4.50993,19.1,27.3,0
21,17.1,33.0,6.655487,5.468232,7.611178,4,43.0,4,3,17.0,22.0,38.0,28.0,1013.6,1008.1,4.447461,1.00000,24.5,31.6,0

In [68]:
y=df['CloudBurstTomorrow']
y

0         0
1         0
2         0
3         0
4         0
         ..
145454    0
145455    0
145456    0
145457    0
145458    0
Name: CloudBurstTomorrow, Length: 123710, dtype: int32

In [69]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [72]:
# Initialize DecisionTreeRegressor with default hyperparameters
model = DecisionTreeClassifier()

In [73]:
# Train the model on the training data
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [78]:
model.score(X_test,y_test)

0.859752647320346

In [98]:
# Save the trained model as a pickle file
with open('trained_model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [116]:
model.predict([[16,14.1,20.9,6.655487,5.468232,7.611178,1,22.0,11,0,11.0,9.0,69.0,82.0,1012.2,1010.4,8.000000,1.00000,17.2,18.1]])

array([0])

In [102]:
import streamlit as st
import pandas as pd
import pickle

In [103]:
# Define UI components
st.title("Cloud Burst Prediction")
st.write("Enter the parameters below:")

In [104]:
# Add input fields for parameters
minimum_temp = st.number_input("Minimum Temperature", value=0.0)
maximum_temp = st.number_input("Maximum Temperature", value=0.0)
rainfall = st.number_input("Rainfall", value=0.0)
evaporation = st.number_input("Evaporation", value=0.0)
sunshine = st.number_input("Sunshine", value=0.0)
wind_gust_direction = st.selectbox("Wind Gust Direction", ['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW'])
wind_gust_speed = st.number_input("Wind Gust Speed", value=0.0)
wind_direction_9am = st.selectbox("Wind Direction 9am", ['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW'])
wind_direction_3pm = st.selectbox("Wind Direction 3pm", ['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW'])
wind_speed_9am = st.number_input("Wind Speed 9am", value=0.0)
wind_speed_3pm = st.number_input("Wind Speed 3pm", value=0.0)
humidity_9am = st.number_input("Humidity 9am", value=0.0)
humidity_3pm = st.number_input("Humidity 3pm", value=0.0)
pressure_9am = st.number_input("Pressure 9am", value=0.0)
pressure_3pm = st.number_input("Pressure 3pm", value=0.0)
cloud_9am = st.number_input("Cloud 9am", value=0.0)
cloud_3pm = st.number_input("Cloud 3pm", value=0.0)
temperature_9am = st.number_input("Temperature 9am", value=0.0)
temperature_3pm = st.number_input("Temperature 3pm", value=0.0)
cloud_burst_today = st.number_input("Cloud Burst Today", value=0.0)

In [106]:
# Define prediction function
def predict_cloud_burst(minimum_temp, maximum_temp, rainfall, evaporation, sunshine, wind_gust_direction, wind_gust_speed,
                        wind_direction_9am, wind_direction_3pm, wind_speed_9am, wind_speed_3pm, humidity_9am,
                        humidity_3pm, pressure_9am, pressure_3pm, cloud_9am, cloud_3pm, temperature_9am,
                        temperature_3pm, cloud_burst_today):
    # Format user inputs into a DataFrame
    data = [[
    minimum_temp,
    maximum_temp,
    rainfall,
    evaporation,
    sunshine,
    wind_gust_direction,
    wind_gust_speed,
    wind_direction_9am,
    wind_direction_3pm,
    wind_speed_9am,
    wind_speed_3pm,
    humidity_9am,
    humidity_3pm,
    pressure_9am,
    pressure_3pm,
    cloud_9am,
    cloud_3pm,
    temperature_9am,
    temperature_3pm,
    cloud_burst_today
]
    ]
    # Make predictions using the model
    prediction = model.predict(data)
    return prediction

In [107]:
# Make predictions and display results
if st.button("Predict"):
    prediction = predict_cloud_burst(minimum_temp, maximum_temp, rainfall, evaporation, sunshine, wind_gust_direction,
                                     wind_gust_speed, wind_direction_9am, wind_direction_3pm, wind_speed_9am,
                                     wind_speed_3pm, humidity_9am, humidity_3pm, pressure_9am, pressure_3pm,
                                     cloud_9am, cloud_3pm, temperature_9am, temperature_3pm, cloud_burst_today)
    st.write("Prediction:", prediction)